@using TTNhom.Models
@model List<Blog>
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@Html.Partial("BreadcrumbsPartial","User")

<!--================Blog Area =================-->
<section class="blog_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                   
                    <article class="row blog_item">
                        @{
                            foreach (var item in Model)
                            {

                                <div class="blog_post">
                                    <div class="col-md-4 blog-img">
                                        <img src="/Content/img/@Url.Content(item.Image)" alt="">
                                    </div>

                                    <div class="blog_details col-md-8">
                                        <div class="blog-title">
                                            <a href="single-blog.html">
                                                <h2>@item.Title</h2>
                                            </a>
                                        </div>
                                        <div class="blog-descri">
                                            <p>
                                                @item.ContentDM
                                            </p>
                                            <a href="@Url.Action("BlogDetail","User",new{ @BlogID=item.BlogID})" class="white_bg_btn">View More</a>
                                        </div>

                                        @*<div class="baiviet-chiase">
                                            <h3>Chia sẻ ngay</h3>
                                            <ul class="icon-chiase">
                                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                            </ul>
                                        </div>*@
                                    </div>
                                </div>

                            }
                        }
                    </article>

                    @*<nav class="blog-pagination justify-content-center d-flex">
                        <ul class="pagination">
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-left"></span>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a href="#" class="page-link">01</a></li>
                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
                            <li class="page-item"><a href="#" class="page-link">03</a></li>
                            <li class="page-item"><a href="#" class="page-link">04</a></li>
                            <li class="page-item"><a href="#" class="page-link">09</a></li>
                            <li class="page-item">
                                <a href="#" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">
                                        <span class="lnr lnr-chevron-right"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>*@
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                            </span>
                        </div><!-- /input-group -->
                        <div class="br"></div>
                    </aside>
                        @Html.Action("BlogInfoPartial", "User")
                </div>
            </div>
        </div>
    </div>
</section>

@*<script>

    //Phân trang cho trang Blog
    function loadData(chisotrang) {
         $.ajax({
                type: 'GET',//HTTP GET
                data: { pageIndex: chisotrang },//truyền tham số cho action listBlog là chisotrang
                url: '@Url.Action("listBlog","User")',//Gọi action listBlog trong UserController
                dataType: 'html', //kiểu dữ liệu là html, vì lấy từ partial view listBlog
                success: function (data) {
                    $('.Blogcontent').html(data/*+'<span class="maloai" data-id="'+maloai+'"></span>'*/);
                }
            });
    }
    $(function () {
        loadData(null);
    });


</script>*@